.next-level-button{
    width: 80%;
    display: flex;
    margin: auto;
    border: 0.1rem solid #444;
    color: #fff!important;
    font-weight: 400;
    margin-bottom: 1.7rem;
    padding: 0.7rem 0.9rem;
    border-radius: 0.25rem;
    font-size: 0.9375rem;
    justify-content: center;
    cursor: pointer;
    background-color: #12D09D;
}
