.option-answer-container{
    width: 49%;
    background-color: #363736;
    box-sizing: border-box;
    border-radius: 0.2rem;
    border: 0.1rem solid #4e504e;
    display: flex;
    flex-direction: column;
}